#app-index {
	align-items: center;
	justify-content: center;
}

#app-index > .quark-column {
	flex: none;
	align-items: center;
}

#app-index h1 {
	font-size: 36px;
	line-height: 40px;
	font-weight: 300;
}